@page "/"
@rendermode InteractiveServer

<div class="dashboard-viewport" style="flex-direction: column; gap: 24px; justify-content: flex-start; overflow-y: auto;">
    
    <NotificationSettings />

    <NotificationDisplay />

</div> 